//breakpoints:
$breakpoint-medium: 767px;
$breakpoint-large: 1280px;

//colors
$primaryColor1: #000513; //fairforward-Black
$primaryColor2: #A6A0A0; //fairforward-DarkGray
$primaryColor3: #F2F3F5; //fairforward-Grey
$primaryColor4: #F74236; //fairforward-White
// $secondaryColor1: #5c667e; //Slate
// $secondaryColor2: #bdc5d5; //Cloud
// $backgroundColor1: #232940; //Graphite
// $backgroundColor2: #f7f8f9; //Light-Grey
// $supportingColor1: #158463; //Green
// $supportingColor2: #c94515; //Red

//margins:
$margin-mobile: 1.6rem;
$side-padding-mobile: 1.6rem;
$margin-tablet: 2.4rem;
$side-padding-tablet: 3.2rem;
